.button {
  display: inline;
  padding: 28px 38px;
  background: $dark-gray-light;
  font-size: 12px;
  font-family: $roboto-font-family;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;

  &:focus {
    color: $beige-medium;
  }

  &:active {
    color: $beige-lighter;
  }

  &:hover {
    color: $beige-lightest;
  }

  &--gray-darkest {
    background: $gray-darkest;
  }

  &--beige-medium {
    background: $beige-medium;

    &:hover {
      color: $dust-darkest;
    }
  }
}
