.button {
  display: inline-block;
  padding: 28px 38px;
  background-color: $dark-gray-light;
  font-size: 12px;
  font-family: $roboto-font-family;
  text-decoration: none;
  text-transform: uppercase;
  color: $white-medium;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: $gray-darker;
    color: $dark-gray-lighter;
  }

  &:focus {
    background-color: $gray-darkest;
    color: $beige-medium;
  }

  &:active {
    background-color: $gray-medium;
    color: $beige-lighter;
  }

  &--gray-darkest {
    background-color: $gray-darkest;

    &:hover {
      background-color: $dark-gray-darker;
      color: $beige-lightest;
    }

    &:focus {
      background-color: $gray-darker;
      color: $beige-medium;
    }

    &:active {
      background-color: $gray-medium;
      color: $beige-lighter;
    }
  }

  &--beige-medium {
    background-color: $beige-medium;

    &:hover {
      background-color: $red-darker;
      color: $dust-darkest;
    }

    &:focus {
      background-color: $red-darker;
      color: $beige-medium;
    }

    &:active {
      background-color: $red-darker;
      color: $beige-lighter;
    }
  }

  &--bordered {
    padding: 20px 50px;
    border: 2px solid $sand-lighter;
    background-color: transparent;
    color: $gray-darkest;

    &:hover {
      background-color: $sand-lighter;
      color: $dust-darkest;
    }

    &:focus {
      background-color: $sand-medium;
      color: $beige-medium;
    }

    &:active {
      background-color: $dust-darker;
      color: $beige-lighter;
    }
  }
}
