BODY {
  width: 1366px;
  margin: 0 auto;
  font: 12px/1.2 $roboto-font-family;
}

// BODY > * {
//   outline: 2px solid deeppink;
// }

BODY > * > * {
  outline: 2px dashed lime;
  outline-offset: -1px;
}

// BODY > * > * > * {
//   outline: 2px dotted dodgerblue;
//   outline-offset: -4px;
// }

UL {
  margin: 0;
  padding: 0;
}

LI {
  list-style: none;
}

A {
  color: $dust-darkest;
  text-decoration: none;

  &:hover {
    color: $sand-medium;
  }

  &:focus {
    color: $red-darker;
  }

  &:active {
    color: $beige-lighter;
  }
}

.visuallyhidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
