$white: #FFFFFF;
$darkGray: #1B1A17;
$lightGray: #5C5C50;
$mediumGray: #444240;
$anotherGray: #6F6E6D;
$olive: #8B8371;
$olive-light: #E7E0CF;
$olive-background: #FDFDFB;

$autumn: #D4B098;
$price: #636261;
$button: #31302C;

$link-active: #A69876;
$link-normal: #555248;

$bread-crumb-inactive: #BDB9B5;


@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-VariableFont:wght.ttf");
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata/Prata-Regular.ttf");
}

