@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplayBold;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
}


@font-face {
  font-family: Prata;
  src: url("../fonts/Prata/Prata-Regular.ttf");
}
