.breadcumbs {
  min-height: 13px;

  &__item {
    list-style: none;
  }

  &__link {
    font-size: 14px;
    color: $gray-light;

    &:active {
      color: $gray-medium;
    }

    &:focus {
      color: $gray-darker;
    }

    &:hover {
      color: $gray-darkest;
    }

    &--current {
      color: $dust-darkest;
    }
  }
}
