.main-nav {
  height: 33px;

  &__items {
    display: flex;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    list-style: none;

    &--main-page {
      margin-left: 20px;
    }
  }

  &__item {
    margin-right: 65px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-toggler {
    position: absolute;
    left: 20px;
    top: 5px;
    padding: 0;
    border: 0;
    color: $dark-gray-darker;
    background-color: transparent;
    outline: none;

    &:hover {
      background-color: transparent;
      color: $dust-darkest;
    }

    &:focus {
      background-color: transparent;
      color: $beige-medium;
    }

    &:active {
      background-color: transparent;
      color: $beige-lighter;
    }
  }

  &__link {
    font-size: 14px;
    color: $dust-darkest;
  }
}

.js-main-nav--minimized .icon--close { display: block; }
.js-main-nav--minimized .icon--hamburger { display: none; }
