.main-nav {
  height: 33px;

  &__items {
    display: flex;
    margin: 0;
    padding: 0;
    transform: translateY(50%);
    list-style: none;
  }

  &__item {
    margin-right: 65px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-toggler {
    z-index: 999;
    position: absolute;
    left: 20px;
    top: 5px;
    padding: 0;
    border: 0;
    color: $dark-gray-darker;
    background-color: transparent;
    outline: none;

    &:hover {
      background-color: transparent;
      color: $dust-darkest;
    }

    &:focus {
      background-color: transparent;
      color: $beige-medium;
    }

    &:active {
      background-color: transparent;
      color: $beige-lighter;
    }
  }

  &__link {
    font-size: 14px;
    color: $dust-darkest;
  }
}

.main-nav--main-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  background-color: $white-medium;
  box-shadow: 0 0 10px $gray-medium;
}

.main-nav__items--main-page {
  display: block;
  margin-left: 20px;
  padding-right: 50px;
}

.main-nav__items--main-page .main-nav__item {
  margin-bottom: 7px;
}

.js-main-menu-toggler .icon--close {
  display: none;
}

.js-main-nav--minimized .icon--close {
  display: block;
}

.js-main-nav--minimized .icon--hamburger {
  display: none;
}
