.main-nav {
  &__menu-toggler {
    position: absolute;
    left: 35px;
    top: 33px;
  }

  &__items {
    display: flex;
    transform: translateY(50%);
  }

  &__item {
    margin-right: 65px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    color: $dust-darkest;
  }
}
