@mixin common-link(
  $color,
  $focus-color,
  $active-color,
  $hover-color,
  $font-family: $roboto-font-family,
  $font-size: 16px) {
  font-size: $font-size;
  font-family: $font-family;
  text-decoration: none;
  color: $color;

  &:focus {
    color: $focus-color;
  }

  &:active {
    color: $active-color;
  }

  &:hover {
    color: $hover-color;
  }
}
