.underlined-link {
  padding-bottom: 10px;
  border-bottom: 2px solid $dust-medium;
  font-weight: 500;
  font-family: $roboto-font-family;
  font-size: 16px;
  color: $gray-darkest;

  &:hover {
    border-color: currentColor;
    color: $beige-lightest;
  }

  &:focus {
    border-color: currentColor;
    color: $red-darker;
  }

  &:active {
    border-color: currentColor;
    color: $beige-lighter;
  }
}
