.underlined-link {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid $dust-medium;
  font-weight: 500;

  &:focus {
    border-color: $red-darker;
    color: $red-darker;
  }

  &:active {
    border-color: $beige-lighter;
    color: $beige-lighter;
  }

  &:hover {
    border-color: $beige-lightest;
    color: $beige-lightest;
  }
}
