.page-footer {
  margin: 0 auto;
  background-color: $gray-darkest;

  &__container {
    width: 1020px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }

  &__section {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__section-title {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white-medium;
  }

  &__items {
    padding-left: 0;
    margin-top: 24px;
    margin-bottom: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $white-lighter;

    &:hover {
      color: $white-medium;
    }

    &:focus {
      color: $gray-darker;
    }

    &:active {
      color: $gray-medium;
    }
  }
}
