.page-footer {
  min-height: 275px;
  background-color: $gray-darkest;

  &__link {
    color: $white-lighter;

    &:hover {
      color: $white-medium;
    }

    &:focus {
      color: $gray-darker;
    }

    &:active {
      color: $gray-medium;
    }
  }
}
