@import "../../mixins/big-button-link.scss";

.hero {
  min-height: 805px;
}

.hero-view {
  font-size: 16px;
  font-family: $prata-font-family;
}

.hero-product {
  &__title {
    font-size: 45px;
    font-family: $playfair-font-family;
  }

  &__subtitle {
    font-size: 30px;
    font-family: $playfair-font-family;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.52;
  }

  &__link {
    @include big-button-link(
      $background: $gray-darkest,
      $color: $white,
      $color-focus: $beige-medium,
      $color-active: $beige-lighter,
      $color-hover: $beige-lightest
    );
  }
}
