.hero {
  margin: 0 auto;

  &__socials {
    align-self: center;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.hero__page-container {
  display: flex;
}

.hero-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
  font-size: 16px;
  font-family: $prata-font-family;

  &__text {

  }

  &__price::after,
  &__dimensions::before {
    content: "";
    width: 50px;
    height: 1px;
    align-self: center;
    margin-right: 18px;
    background-color: $dust-medium;
  }

  &__price {
    display: flex;
    align-self: flex-start;
    margin-top: 83px;

    &::after {
      margin-right: 0;
      margin-left: 18px;
    }
  }

  &__dimensions {
    display: flex;
    align-self: flex-end;
    margin-bottom: 111px;
  }

  &__image {
    width: 395px;
    margin-top: -45px;
  }
}

.hero-product {
  display: flex;
  padding-left: 45px;

  &__content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-family: $playfair-font-family;
    font-weight: normal;
    color: $gray-light;

    &::before {
      content: "";
      width: 50px;
      height: 1px;
      align-self: center;
      margin-right: 18px;
      background-color: $dust-medium;
    }
  }

  &__title-text {
    flex-basis: 100%;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: normal;
    color: $dark-gray-darker;
  }

  &__text {
    max-width: 258px;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 60px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.52;
    color: $dark-gray-darker;
  }

  &__link {
    box-sizing: border-box;
    width: 205px;
    margin-top: 0;
    margin-left: 60px;
  }
}
