.hero {
  margin: 0 auto;

  &__socials {
    align-self: center;
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.hero-view {
  font-size: 16px;
  font-family: $prata-font-family;
}

.hero-product {
  &__title {
    font-size: 45px;
    font-family: $playfair-font-family;
  }

  &__title-text {
    font-size: 30px;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.52;
  }
}
