// .icon {
//   fill: $dark-gray-darker;
// }

.icon--logo-header {
  color: $dust-darker;
}

.icon--logo-header .gsvg-logo__circle {
  fill: "url(#linear-gradient-logo)";
}

.page-header--main-page .icon--logo-header {
  margin-left: 23px;
}

.icon--hamburger {
  width: 18px;
  height: 16px;
}

.icon--lense {
  width: 16px;
  height: 16px;
}

.icon--heart {
  width: 19px;
  height: 16px;
}

.icon--cart {
  width: 18px;
  height: 16px;
}

.icon--logo-footer {
  .logo__gradient {
    stroke: url("#paint1_linear");
  }
}
