.icon {
  fill: $dark-gray-darker;

  &--logo-header {
    width: 103px;
    height: 26px;
    margin-top: 5px;
    color: $dust-darker;
  }

  &--hamburger {
    width: 18px;
    height: 16px;
  }

  &--lense {
    width: 16px;
    height: 16px;
  }

  &--heart {
    width: 19px;
    height: 16px;
  }

  &--cart {
    width: 18px;
    height: 16px;
  }
}

.page-header--main-page .icon--logo-header {
  margin-left: 23px;
}
