.icon {
  fill: $dark-gray-darker;

  &--hamburger {
    width: 18px;
    height: 16px;
  }

  &--close {
    display: none;
    width: 18px;
    height: 16px;
  }

  &--lense {
    width: 16px;
    height: 16px;
  }

  &--heart {
    width: 19px;
    height: 16px;
  }

  &--cart {
    width: 18px;
    height: 16px;
  }
}

.js-main-nav--hidden .icon--close { display: none; }
.js-main-nav--hidden .icon--hamburger { display: block; }
