.ad-banner {
  &__title {
    font-size: 16px;
    line-height: 1.5;
  }

  &__link {
    padding: 28px 38px;
    background: $beige-medium;
    font-size: 12px;
    text-decoration: none;
    color: $white;

    &:focus {
      color: $beige-medium;
    }

    &:active {
      color: $beige-lighter;
    }

    &:hover {
      color: $beige-lightest;
    }
  }
}
