.product-card {
  position: relative;
  background-color: $gray-lightest;

  &__title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price {
    margin-top: 10px;
    font-size: 12px;
    font-family: $prata-font-family;
  }

  &__link {
    display: flex;
    position: relative;
    font-size: 16px;
    color: $dust-darkest;

    &:hover {
      color: $gray-lighter;
    }

    &:focus {
      color: $gray-darker;
    }

    &:active {
      color: $gray-medium;
    }
  }
}

.product-card__image--absolute {
  position: absolute;
  top: 0;
  right: 10px;
}
