.slider {
  margin: 0 auto;

  &__items {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    flex-shrink: 0;

    .product-card {
      width: 360px;
      height: 375px;
    }

    & + & {
      margin-left: 40px;
    }
  }
}
