.service-nav {
  &__items {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  &__item {
    margin-right: 23px;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }
}
