<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Каталог магазина часов</title>
  </head>
  <body>
    <header class="page-header page-header--catalog-page">
      <div class="logo">
        <h1 class="visuallyhidden">Каталог</h1>
      </div>
      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Каталог</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Акции</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Доставка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Контакты</a>
          </li>
        </ul>
      </nav>
      <nav class="service-nav">
        <ul class="service-nav__items">
          <li class="service-nav__item service-nav__item--search">
            <a class="service-nav__link" href="/">Поиск</a>
          </li>
          <li class="service-nav__item service-nav__item--favorite">
            <a class="service-nav__link" href="/">Избранное</a>
          </li>
          <li class="service-nav__item service-nav__item--shopping-cart">
            <a class="service-nav__link" href="/">Корзина</a>
          </li>
        </ul>
      </nav>
    </header>

    <ul class="breadcrumbs-items">
      <li class="breadcrumbs__item">
        <a href="/">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/">Каталог</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="/">Часы</a>
      </li>
    </ul>

    <section class="catalog">
      <h2 class="catalog__title">мужские часы</h2>

      <form class="controls catalog-controls">
        <fieldset class="controls__item">
          <legend class="control-item__title">Стоимость</legend>
          Здесь будет слайдер. Но я не знаю как его верстать.
        </fieldset>
        <fieldset class="controls__item">
          <legend class="control-item__title">Бренд</legend>

          <label class="control-item__label" for="teche">Teche</label>
          <input class="control-item__checkbox" type="checkbox" id="teche" name="teche" checked>

          <label class="control-item__label" for="rado">Rado</label>
          <input class="control-item__checkbox" type="checkbox" id="rado" name="rado">

          <label class="control-item__label" for="bvlgari">Bvlgari</label>
          <input class="control-item__checkbox" type="checkbox" id="bvlgari" name="bvlgari">

          <label class="control-item__label" for="tissot">Tissot</label>
          <input class="control-item__checkbox" type="checkbox" id="tissot" name="tissot">

          <label class="control-item__label" for="omega">Omega</label>
          <input class="control-item__checkbox" type="checkbox" id="omega" name="omega">

          <label class="control-item__label" for="montblanc">Montblanc</label>
          <input class="control-item__checkbox" type="checkbox" id="montblanc" name="montblanc">

        </fieldset>

        <fieldset class="controls__item">
          <legend class="control-item__title" >Механизм</legend>
        </fieldset>

        <fieldset class="controls__item">
          <legend class="control-item__title">Материал</legend>
        </fieldset>

        <fieldset class="controls__item">
          <legend class="control-item__title">Цвет</legend>
        </fieldset>

        <input class="control-item__reset" type="button" value="Сбросить фильтр"/>
        <input class="control-item__submit" type="submit" value="Применить фильтр"/>
      </form>

      <div class="catalog__items">
        Сделаю в следующей итерации
      </div>
    </section>

    <section class="subscription">
      <h2 class="subscription__title">подписка на рассылку</h2>
      <div class="subscription__slogan">Получить скидку 10% на первую покупку</div>
      <form class="subscription-container">
        <label class="subscription-container__label" for="email">Email</label>
        <input class="subscription-container__text" id="email" name="email" type="text" >
        <input class="subscription-container__submit" type="submit" value="Подписаться"/>
      </form>
    </section>

    <section class="extra-items">
      В следующей итерации
    </section>

    <footer class="footer">
      <h2>Контакты и важные ссылки</h2>

      <div class="footer__block">
        <h3 class="footer__block-title visuallyhidden">контакты компании</h3>

        <div class="logo logo--footer"></div>

        <ul class="footer__list">
          <li class="footer__list-item">8 (499) 450-47-97</li>
          <li class="footer__list-item">info@conquest.watch.ru</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">о компании</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Наши магазины</li>
          <li class="footer__list-item">Вакансии</li>
          <li class="footer__list-item">Сертификаты</li>
          <li class="footer__list-item">Отзывы</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">покупателям</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Каталог товаров</li>
          <li class="footer__list-item">Как заказать?</li>
          <li class="footer__list-item">FAQ</li>
          <li class="footer__list-item">Корпоративным клиентам</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">оплата и доставка</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Способы оплаты</li>
          <li class="footer__list-item">Время доставки</li>
          <li class="footer__list-item">Гарантии и ремонт</li>
          <li class="footer__list-item">Возврат и компенсация</li>
        </ul>
      </div>

    </footer>
  </body>
</html>
