<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Интернет магазин часов</title>
  </head>
  <body>
    <header class="page-header page-header--main-page">
      <div class="logo">
        <h1 class="visuallyhidden">Магазин часов</h1>
      </div>
      <nav class="main-nav">
        <ul>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Каталог</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Акции</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Доставка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Контакты</a>
          </li>
        </ul>
      </nav>
      <nav class="service-nav">
        <ul class="service-nav__items">
          <li class="service-nav__item service-nav__item--search">
            <a class="service-nav__link" href="/">Поиск</a>
          </li>
          <li class="service-nav__item service-nav__item--favorite">
            <a class="service-nav__link" href="/">Избранное</a>
          </li>
          <li class="service-nav__item service-nav__item--shopping-cart">
            <a class="service-nav__link" href="/">Корзина</a>
          </li>
        </ul>
      </nav>
    </header>

    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">Главная</li>
      <li class="breadcrumbs-item">Каталог</li>
      <li class="breadcrumbs-item">Мужские часы</li>
    </ul>

    <section class="catalog">
      <h2 class="catalog__title">мужские часы</h2>

      <ul class="controls catalog-controls">
        <li class="control-item">
          <div class="control-item__title">Стоимость</div>
          <div class="control-item__content">
            Здесь будет range для стоимости
          </div>
        </li>

        <li class="control-item">
          <div class="control-item__title">Бренд</div>
          <div class="control-item__content">
            Здесь будет список чекбоксов
          </div>
        </li>

        <li class="control-item">
          <div class="control-item__title">Механизм</div>
          <div class="control-item__content">
            Здесь будет список чекбоксов
          </div>
        </li>

        <li class="control-item">
          <div class="control-item__title">Материал</div>
          <div class="control-item__content">
            Здесь будет список чекбоксов
          </div>
        </li>

        <li class="control-item">
          <div class="control-item__title">Цвет</div>
          <div class="control-item__content">
            Здесь будет список чекбоксов
          </div>
        </li>

      </ul>

      <div class="catalog__items">
        Сделаю в следующей итерации
      </div>
    </section>

    <section class="banner">
      <h2 class="banner__title">подписка на рассылку</h2>
      <div class="banner__slogan">Получить скидку 10% на первую покупку</div>
      <form class="banner__subscription">
        <label class="banner__subscription-label" for="email">Email</label>
        <input class="banner__subscription-text" id="email" name="email" type="text" >
        <input class="banner__subscription-submit" type="submit"/>подписаться</input>
      </form>
    </section>

    <section class="extra-items">
      В следующей итерации
    </section>

    <footer class="footer">
      <h2>Контакты и важные ссылки</h2>

      <div class="footer__block">
        <h3 class="footer__block-title visuallyhidden">контакты компании</h3>

        <div class="logo logo--footer"></div>

        <ul class="footer__list">
          <li class="footer__list-item">8 (499) 450-47-97</li>
          <li class="footer__list-item">info@conquest.watch.ru</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">о компании</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Наши магазины</li>
          <li class="footer__list-item">Вакансии</li>
          <li class="footer__list-item">Сертификаты</li>
          <li class="footer__list-item">Отзывы</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">покупателям</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Каталог товаров</li>
          <li class="footer__list-item">Как заказать?</li>
          <li class="footer__list-item">FAQ</li>
          <li class="footer__list-item">Корпоративным клиентам</li>
        </ul>
      </div>

      <div class="footer__block">
        <h3 class="footer__block-title">оплата и доставка</h3>

        <ul class="footer__list">
          <li class="footer__list-item">Способы оплаты</li>
          <li class="footer__list-item">Время доставки</li>
          <li class="footer__list-item">Гарантии и ремонт</li>
          <li class="footer__list-item">Возврат и компенсация</li>
        </ul>
      </div>

    </footer>
  </body>
</html>
