<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Интернет магазин часов</title>
  </head>
  <body>
    <header class="page-header page-header--main-page">
      <div class="logo">
        <h1 class="visuallyhidden">Магазин часов</h1>
      </div>
      <nav class="main-nav">
        <button type="button" class="main-nav__toggler">Показать главное меню</button>
        <ul>
          <li class="main-nav__item">
            <a href="/">Каталог</a>
          </li>
          <li class="main-nav__item">
            <a href="/">Акции</a>
          </li>
          <li class="main-nav__item">
            <a href="/">Доставка</a>
          </li>
          <li class="main-nav__item">
            <a href="/">Контакты</a>
          </li>
        </ul>
      </nav>
      <nav class="service-nav">
        <ul class="service-nav__list">
          <li class="service-nav__item service-nav__item--search">
            <a href="/">Поиск</a>
          </li>
          <li class="service-nav__item service-nav__item--favorite">
            <a href="/">Избранное</a>
          </li>
          <li class="service-nav__item service-nav__item--shopping-cart">
            <a href="/">Корзина</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <h2 class="visuallyhidden">Новая коллекция</h2>

      <div class="hero-product">
        <div class="hero-product__content">
          <h3 class="hero-product__title">
            Весна/Лето 2019
            <span class="hero-product__subtitle">
              Коллекция
            </span>
          </h3>
          <p class="hero-product__text">
              Швейцарские часы в наличии в Москве и с доставкой по всему миру
          </p>
          <a class="hero-product__link" href="/">Смотреть каталог</a>
        </div>

        <div class="hero-view">
          <p class="hero-view__price">22 000 ₽</p>
          <p class="hero-view__dimensions">28 мм диаметр</p>
          <img alt="Часы из коллекции весна/лето 2019" class="hero-view__image" src="https://via.placeholder.com/502x804.png"/>
        </div>
      </div>

      <ul class="socials hero__socials">
        <li class="socials__item socials__item--vk">
          <button type="button">Расшарить вконтакте</button>
        </li>
        <li class="socials__item socials__item--fb">
          <button type="button">Расшарить фейсбук</button>
        </li>
        <li class="socials__item socials__item--tw">
          <button type="button">Расшарить твиттер</button>
        </li>
      </ul>
    </section>
  </body>
</html>
