<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Часы KULTE 26MM, Магазин часов</title>
  </head>
  <body>
    <header class="page-header">
      <h1 class="visuallyhidden">Часы KULTE 26MM</h1>
      <a href="/" class="logo">
        На главную
      </a>

      <nav class="main-nav">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Каталог</a>
          </li>

          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Акции</a>
          </li>

          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Доставка</a>
          </li>

          <li class="main-nav__item">
            <a class="main-nav__link" href="/">Контакты</a>
          </li>
        </ul>
      </nav>

      <nav class="service-nav">
        <ul class="service-nav__items">
          <li class="service-nav__item service-nav__item--search">
            <a class="service-nav__link" href="/">Поиск</a>
          </li>

          <li class="service-nav__item service-nav__item--favorite">
            <a class="service-nav__link" href="/">Избранное</a>
          </li>

          <li class="service-nav__item service-nav__item--shopping-cart">
            <a class="service-nav__link" href="/">Корзина</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="page-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Главная</a>
        </li>

        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Каталог</a>
        </li>

        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="/">Мужские часы</a>
        </li>

        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link breadcrumbs__link--current" href="/">Georg Jensen</a>
        </li>
      </ul>

      <section class="product">
        <h2 class="visuallyhidden">Карточка товара</h2>

        <div class="slider product__slider">
          <ul class="slider__items">
            <li class="slider__item">
              <img src="https://via.placeholder.com/423x529.png"
                class="product__img product__img--full"
                alt="Часы крупным планом"/>
            </li>

            <li class="slider__item">
              <img src="https://via.placeholder.com/127x121.png"
                class="product__img product__img--small product__img--current"
                alt="Часы поменьше"/>
            </li>

            <li class="slider__item">
              <img src="https://via.placeholder.com/127x121.png"
                class="product__img product__img--small"
                alt="Часы поменьше"/>
            </li>

            <li class="slider__item">
              <img src="https://via.placeholder.com/127x121.png"
                class="product__img product__img--small"
                alt="Часы поменьше"/>
            </li>

            <li class="slider__item">
              <img src="https://via.placeholder.com/127x121.png"
                class="product__img product__img--small"
                alt="Часы поменьше"/>
            </li>

            <li class="slider__item">
              <img src="https://via.placeholder.com/127x121.png"
                class="product__img product__img--small"
                alt="Часы поменьше"/>
            </li>
          </ul>

          <div class="slider-controls">
            <button type="button" class="slider-controls__arrow"> &lt; </button>
            <button type="button" class="slider-controls__arrow"> > </button>
          </div>
        </div>

        <div class="product__info">

          <header class="product__title-container">
            <h3 class="product__title"> KULTE, 26MM</h3>

            <div class="product__price">12 700</div>

            <button type="button" class="product__action product__action--add-to-favorites">
              <span class="visuallyhidden">Добавить в избранное</span>
            </button>
          </header>

          <div class="tabs product__tabs">
            <!-- Controls -->
            <ul class="tabs__controls-items">
              <li class="tabs__controls-item">
                <button
                  type="button"
                  class="tabs__control tabs__control--current"
                  data-target="0">Описание</button>
              </li>

              <li class="tabs__controls-item">
                <button
                  type="button"
                  class="tabs__control"
                  data-target="1">Технические характеристики</button>
              </li>
            </ul>

            <!-- Content -->
            <ul class="tabs__containers">
              <li class="tabs__container tabs__container--current">
                <p>Наручные часы KULTE, разработанные датским дизайнером Хэннингом Коппелем, были выпущены в 1982 году. Они были встречены аплодисментами, а дизайн считался революционным.</p>

                <p>Общая эстетика минималистична, а острые, плавные линии корпуса стали легендарными. Механизм Swiss Made обеспечивает высокий уровень технических характеристик.<p>

                <p>Наручные часы KULTE — это образец датского дизайнерского наследия, история баланса и точности как внутри, так и снаружи.<p>
              </li>
              <li class="tabs__container">
                <p>Некоторые технические характеристики</p>
              </li>
            </ul>
          </div>

          <button type="button" class="product__button">В корзину</button>
        </div>
      </section>

      <section class="page-section recommendations">
        <h2 class="recommendations__title page-section__title ">Вы смотрели</h2>

        <div class="slider recommendations__slider">
          <ul class="slider__items">
            <li class="slider__item">
              <div class="product-card">
                <div class="product-card__info">
                  <h3 class="product-card__title">Techne</h3>

                  <div class="product-card__price">12 700</div>
                </div>

                <div class="product-card__actions">
                  <button type="button" class="product-card__action product-card__action--add-to-favorites">
                    <span class="visuallyhidden">Добавить в избранное</span>
                  </button>

                  <button type="button" class="product-card__action product-card__action--add-to-cart">
                    <span class="visuallyhidden">Добавить в корзину</span>
                  </button>
                </div>

                <img alt="Безвкусные часы" class="product-card__image" src="https://via.placeholder.com/127x303.png"/>
              </div>
            </li>
          </ul>

          <div class="slider-controls">
            <button type="button" class="slider-controls__arrow"> &lt; </button>
            <button type="button" class="slider-controls__arrow"> > </button>
          </div>
        </div>

      </section>
    </main>

    <footer class="page-footer">
      <h2 class="visuallyhidden">Контакты и важные ссылки</h2>

      <section class="page-footer__section">
        <h3 class="page-footer__section-title visuallyhidden">Контакты компании</h3>

        <a class="logo logo--footer" href="/">На главную страницу</a>

        <ul class="page-footer__items">
          <li class="page-footer__item">
            <a class="page-footer__link" href="tel:8(499)450-47-97">8 (499) 450-47-97</a>
          </li>
          <li class="page-footer__item">
            <a class="page-footer__link" href="mailto:info@conquest.watch.ru">info@conquest.watch.ru</a>
          </li>
        </ul>
      </section>

      <section class="page-footer__section">
        <h3 class="page-footer__section-title">О компании</h3>

        <ul class="page-footer__items">
          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Наши магазины</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Вакансии</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Сертификаты</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Отзывы</a>
          </li>
        </ul>
      </section>

      <section class="page-footer__section">
        <h3 class="page-footer__section-title">Покупателям</h3>

        <ul class="page-footer__items">
          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Каталог товаров</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Как заказать?</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">FAQ</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Корпоративным клиентам</a>
          </li>
        </ul>
      </section>

      <section class="page-footer__section">
        <h3 class="page-footer__section-title">Оплата и доставка</h3>

        <ul class="page-footer__items">
          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Способы оплаты</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Время доставки</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Гарантии и ремонт</a>
          </li>

          <li class="page-footer__item">
            <a class="page-footer__link" href="/">Возврат и компенсация</a>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>
