.catalog {
  &__items {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(3, 252px);
    grid-auto-rows: 300px;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: 30px;
  }
}

.catalog-pagination {
  &__link {
    color: $gray-light;

    &:hover {
      color: $gray-darkest;
    }

    &:focus {
      color: $gray-darker;
    }

    &:active {
      color: $gray-medium;
    }

    &--current {
      color: $dark-gray-darker;
    }
  }
}
