.popular {
  min-height: 768px;
  margin-bottom: 80px;

  .product-card__title {
    font-weight: bold;
    color: $gray-darkest;
  }

  .product-card__price {
    margin-top: 10px;
    font-family: $prata-font-family;
    font-size: 12px;
    color: $gray-darkest;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__link {
    align-self: flex-end;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    font-family: $playfair-font-family;

    .product-card__link::before {
      content: "";
      width: 30px;
      height: 1px;
      align-self: center;
      margin-right: 18px;
      background-color: $dust-medium;
    }
  }

  &__item--narrow {
    width: 370px;
    min-height: 467px;
    padding: 40px;
    margin-right: 40px;
    margin-bottom: 40px;

    .product-card__image-wrapper {
      top: 80px;
      left: 80px;
      width: 213px;
      height: 292px;
    }

    .product-card__image {
      margin-top: 5px;
    }

    .product-card__link {
      margin-top: auto;
    }

    .product-card__title {
      font-size: 14px;
    }
  }

  &__item--wide {
    min-height: 467px;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 55px 55px 48px 55px;
    margin-bottom: 40px;

    .product-card__title {
      font-size: 18px;
    }

    .product-card__price {
      font-size: 16px;
    }

    .product-card__image-wrapper {
      top: 0;
      left: 220px;
      width: 490px;
      height: 492px;
    }

    .product-card__link {
      margin-top: auto;
    }

    .product-card__link::before {
      width: 48px;
    }
  }

  &__item--rectangle {
    min-height: 220px;
    flex-basis: 40%;
    flex-grow: 1;
    padding: 40px;
    padding-right: 0;

    &:last-child {
      margin-left: 40px;
    }

    .product-card__title {
      font-size: 14px;
    }

    .product-card__image-wrapper {
      top: 0;
      left: 240px;
      width: 210px;
      height: 220px;
    }

    .product-card__price {
      margin-top: 6px;
    }

    .product-card__link {
      margin-top: auto;
    }
  }
}
