.popular {
  min-height: 768px;
  font-family: $playfair-font-family;

  &__container {
    width: 1170px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }
}
