@import "../../mixins/big-button-link.scss";
@import "../../mixins/common-link.scss";

.popular {
  min-height: 768px;

  &__link {
    position: relative;
    font-weight: 500;
    color: $gray-darkest;

    @include common-link(
      $color: $gray-darkest,
      $focus-color: $dark-gray-lighter,
      $active-color: $dark-gray-light,
      $hover-color: $dark-gray-medium
    );

    &::after {
      content: "";
      border-bottom: 2px solid $dust-medium;
      width: 100%;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }

  .popular-item {
    &__title {
      font-size: 18px;
      font-weight: bold;
      font-family: $playfair-font-family;
      text-transform: uppercase;
    }

    &__price {
      font-size: 16px;
      font-family: $prata-font-family;
    }

    &__link {
      @include common-link(
        $font-family: $playfair-font-family,
        $color: $dust-darkest,
        $focus-color: $dust-darker,
        $active-color: $dust-medium,
        $hover-color: $sand-medium);
    }
  }
}
